<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-icons.html">
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-micomponente.html">
<link rel="lazy-import" href="my-blog.html">
<link rel="lazy-import" href="my-newpost.html">
<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-registro.html">
<link rel="lazy-import" href="my-home.html">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {

      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
drawer-list {
        margin: 0 1px;newpost
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: blue;
        font-weight: bold;
      }


      .navbar{margin-bottom:0;}
      section{width:100%; float:left;}
      .banner-section{background-image:url("https://cdn.pixabay.com/photo/2017/08/26/16/11/nature-2683474__340.jpg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}

    </style>

        <app-location route="{{route}}"></app-location>
        <app-route
            route="{{route}}"
            pattern="[[rootPattern]]:page"
            data="{{routeData}}"
            tail="{{subroute}}"></app-route>

    <nav class="navbar navbar-inverse  navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">De aquí para allá</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="registro"><span class="glyphicon glyphicon-user"> Sign up</a></li>
           <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <section class="banner-section"></section>


    <app-drawer-layout fullbleed>
      <!-- Drawer content -->
    <!--<app-drawer id="drawer" slot="drawer">      </app-drawer>  -->
    <app-drawer id="drawer"></app-drawer>

      <!-- Main content -->
    <!--  <app-header-layout has-scrolling-region> -->

    <!--    <app-header slot="header" condenses  reveals effects="waterfall"> -->
    <!--       <nav class="navbar navbar-inverse  navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand">De aquí para allá</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="registro"><span class="glyphicon glyphicon-user"> Sign up</a></li>
                  <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                </ul>
              </div><!--/.nav-collapse --
            </div>
          </nav> -->
  <!--        <section class="banner-section"></section> -->
  <!--      </app-header> -->
  <!--    <app-header-layout has-scrolling-region> -->
        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-view1 name="view1"></my-view1>
          <my-view2 name="view2"></my-view2>
          <my-home name="home"></my-home>
          <my-view404 name="view404"></my-view404>
          <my-newpost name="newpost"></my-newpost>
          <my-registro name="registro"></my-registro>
          <my-login name="login"></my-login>
        </iron-pages>
  <!--    </app-header-layout> -->
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {

      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          rootPattern: String,
          routeData: Object,
          subroute: String,
        };

      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }<!--

      constructor() {
        super();

        // Get root pattern for app-route, for more info about `rootPath` see:
        // https://www.polymer-project.org/2.0/docs/upgrade#urls-in-templates
        this.rootPattern = (new URL(this.rootPath)).pathname;
      }

      _routePageChanged(page) {
        // Polymer 2.0 will call with `undefined` on initialization.
        // Ignore until we are properly called with a string.
        if (page === undefined) {
          return;
        }

        // If no page was found in the route data, page will be an empty string.
        // Deault to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        //if (!this.$.drawer.persistent) {
        //  this.$.drawer.close();
        //}
this.$.navbar.
      }

      _pageChanged(page) {
        // Load page import on demand. Show 40view34 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
