<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="my-icons.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<script src="https://ajax.goglyphiconogleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="my-detalle.js"></script>
<script src="my-global.js"></script>
<!-- API de Google Map-->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik&callback=initMap">
</script>
<!--<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik">
</script>-->


<dom-module id="my-detalle">
  <template>
    <style>
      :host {
        display: block;
      }
      .navbar{margin-bottom:0;}

      #map {
        height: 50%;
        width: 50%;
      }

    </style>
    <!-- Barra navegación -->
    <nav class="navbar navbar-inverse  navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">De aquí para allá</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="home"> Home</a></li>
           <li><a href="newpost"> Nuevo Post</a></li>
           <li><a href="detalle"> Post recientes</a></li>
           <li><a href="public" onclick="salir()"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

  <!-- Detalle del post -->

    <div class="container">
      <div class="well">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button> -->

          <form action="/home">
            <button type="summit" class="close">&times;</button>
          </form>

          <div class="media">
          	<a class="pull-left" href="#">
        		    <img class="media-object" src="http://placekitten.com/150/150" >
            <!--    <img class="media-object" src="http://placekitten.com/150/150" style="width:250px"> -->
      		  </a>
      		  <div class="media-body">
        	     <h4 class="media-heading">Localidad (Pais)</h4>
               <p></p>
               <p></p>

              <p></p>
              <p>Lorem ipsum
dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
    Aliquam in felis sit amet augue.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </p>

            <ul class="list-inline list-unstyled">
               <li>,
              <span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
               <li>|</li>
               <li class="text-right">By Francisco</li>

           </ul>

          </div>
        <!-- Geolocalización-->

        <div class="pull-right" >
          <h4 class="media-heading">Localidad (Pais)</h4>
          <!--  <div id="map" name="map" style="width:400px;height:200px;background:gray" onmouseover=initMap()></div>-->


        </div>

       </div>
        </div>
      </div>
    <div id="map" name="map" style="width:400px;height:200px;background:gray"></div>

  </template>

<script>
    Polymer({
      is: 'my-detalle',
      properties: {
      },

        listeners: {
        }

    })
  </script>
</dom-module>
