<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<dom-module id="my-home">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {

      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
componente
      .drawer-list {
        margin: 0 1px;newpost
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: blue;
        font-weight: bold;
      }


      .navbar{margin-bottom:0;}
      section{width:100%; float:left;}
      .banner-section{background-image:url("https://cdn.pixabay.com/photo/2017/08/26/16/11/nature-2683474__340.jpg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}

    </style>

    <home-drawer-layout fullbleed>
      <!-- Drawer content -->
      <!--<app-drawer id="drawer" slot="drawer">      </app-drawer> -->

      <!-- Main content -->
      <home-header-layout has-scrolling-region>

    <!--    <app-header slot="header" condenses reveals effects="waterfall"> -->
          <nav class="navbar navbar-inverse  navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand">De aquí para allá</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="view1"> Home</a></li>
                  <li><a href="view1"> Nuevo Post</a></li>
                  <li><a href="view1"> Post recientes</a></li>
                  <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>

                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>
          <section class="banner-section"></section>
  <!--      </app-header> -->


      </home-header-layout>
    </home-drawer-layout>
  </template>

  <script>
  Polymer({
    is: 'my-home',
    properties: {
    },

      listeners: {
              }

      })
  </script>
</dom-module>
