    <link rel="import" href="../bower_components/polymer/polymer-element.html">
    <link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
    <link rel="import" href="shared-styles.html">

    <link rel="import" href="../bower_components/app-route/app-location.html">
    <link rel="import" href="../bower_components/app-route/app-route.html">
    <link rel="import" href="../bower_components/iron-pages/iron-pages.html">

      <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.goglyphiconogleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="my-login.js"></script>

<dom-module id="my-login">
  <template>
    <style>
      body {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
      }

      .box-shadow {
        margin-top: 60px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;;
        -moz-box-shadow:    rgba(0, 0, 0, 0.3) 20px 20px 20px;
        padding: 20px;
      }


      .navbar{margin-bottom:0;}
      section{width:100%; float:left;}
      .banner-section{background-image:url("https://cdn.pixabay.com/photo/2017/08/26/16/11/nature-2683474__340.jpg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}


    </style>

    <nav class="navbar navbar-inverse  navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">De aquí para allá</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="registro"><span class="glyphicon glyphicon-user"> Sign up</a></li>
           <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <section class="banner-section"></section>


    <div class="container">

          <div class="row">

            <div class="col-xs-30 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">

                <div class="panel panel-default box-shadow">
                  <form action="/public">
                      <button type="summit" class="close">&times;</button>
                  </form>
                  <p></p>
                  <p></p>
                  <p></p>

                <div class="panel-heading">
                   <span class="text-primary">Login</span>
                </div><!--.panel-heading-->

                <div class="panel-body">
            <!--      <form action="home" onsubmit="return validar()"> -->
               <form >

               </form>

                    <div class="form-group">
                      <label for="user">Usuario</label>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input autofocus required type="text" name="nombre" id="nombre" class="form-control" placeholder="Usuario" tabindex="1">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="password">Password</label>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input required type="password" name ="password" id="password" class="form-control" placeholder="Password" tabindex="2">
                      </div>
                    </div>

                    <a href="/home" class="btn btn-info btn-block" onclick=validar() tabindex="3">Acceso</a>
                    <p name="pagina"></p>
  <!--                  <p class="text-center text-muted h4"></p> -->
                    <label for="user">¿No estás registrado?</label>
                    <a href="registro" class="btn btn-block btn-success" tabindex="5">Registrate</a>
                    </form>
                </div>
              </div><!--.panel-->
            </div><!--blog.cols-->
          </div><!--.row-->
        </div><!--.container-->
  </template>
  <script>
    Polymer({
      is: 'my-login',
      properties: {
        users: Array
      },

        listeners: {
                }

        })
  </script>
</dom-module>
