<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-sview1elector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="my-icons.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>-->
<!--<script src="https://ajax.goglyphiconogleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="my-newpost.js"></script>
<script src="my-global.js"></script>
<script src="my-bdpost.js"></script>
<!-- API de Google Map-->
<!--<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik&callback=initMap">
</script>
<!--<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik">
</script>-->


<dom-module id="my-newpost">
  <template>

    <style>
      :host {
        display: block;
      }
      .navbar{margin-bottom:0;}
      .media-body{padding: 25px 75px}
      .pull-left{padding: 25px 25px}

    </style>

    <!-- Barra navegación -->

        <nav class="navbar navbar-inverse  navbar-static-top">
         <div class="container">
           <div class="navbar-header">
             <a class="navbar-brand">De aquí para allá</a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
               <li><a href="prueba"> Home</a></li>
               <li><a href="newpost"> Nuevo Post</a></li>
               <li><a href="detalle"> Post recientes</a></li>
               <li><a href="public" onclick="salir()"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
             </ul>
           </div><!--/.nav-collapse -->
         </div>
       </nav>
       <section class="banner-section"></section>

<!-- Detalle del post -->
    <div class="container">
      <div class="well">

    <!-- Tratamiento de salida del post -->

          <form action="/home">
            <button type="summit" class="close">&times;</button>
          </form>
          <h3> Nueva publicación</h3>
    <!-- Tratamiento de la captura de la imagen -->

          <div class="media">
            <a class="pull-left" href="#">
                <label>Añade aquí tu foto</label>
                <img class="media-object" src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103594__340.png" style="width:150px;height:150px;">
            <!--    <img class="media-object" src="http://placekitten.com/150/150" style="width:250px"> -->

            </a>


         <div class="media-body">

<!--        <form action="/view1" onsubmit="return incluirUsers()"> -->
            <form action="/newpost" onsubmit="return incluirPost()">

    <!-- Captura del lugar -->
                  <div class="form-group">
                    <label>Localidad</label>
                    <div class="input-group">
                      <input autofocus required type="texto" name="city" id="city" class="form-control" placeholder="Ciudad" size="50"  tabindex="1">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input autofocus required type="texto" name="country" id="country" class="form-control" placeholder="Pais" size="50" tabindex="2">
                    </div>
                  </div>


  <!-- Captura de la descripción -->
                  <div class="form-group">
                      <label for="titulo">Titulo</label>
                      <div class="input-group">
                      <textarea autofocus required type="texto" name="titulo" id="titulo" class="form-control" placeholder="Breve descripción" rows="2" cols="100" tabindex="3"></textarea>
                    </div>
                  </div>

    <!-- Captura de la publicación -->
                  <div class="form-group">
                      <label for="Descripción">Tus comentarios</label>
                      <div class="input-group">
                      <textarea autofocus required type="texto" name="post" id="post" class="form-control"  rows="6" cols="100" tabindex="4"></textarea>
                    </div>
                  </div>

                <input type="submit" value="Añadir" class="btn btn-info" tabindex="5"></input>

            </form>
         </div>
       </div>
     </div>
   </div>
  </template>

  <script>
    Polymer({
      is: 'my-newpost',
      properties: {
      },

        listeners: {
        }

    })
  </script>

</dom-module>
